extends ./layout.pug

block content
  div(class="text-lg")
    p Revolution Street Alpha is live! 
    p Check out the #[a(href="/users") rankings] or 
      | #[a(href="/sign_up") sign up] and start submitting scores.