extends ./layout.pug

block content
  div(class="text-lg")
    p Welcome to Revolution Street, a posthumous DDR Extreme score tracker.

  br

  div(class="text-lg")
    p 24th Aug 2021.
    p You can now upload a photo of your score.

  br

  div(class="text-lg")
    p 2nd Sep 2021.
    p Profile page now shows total AAAs, SDGs, and allows sorting by great count.

  br

  div(class="text-lg")
    p 6th July 2021. 
    p Revolution Street Alpha is live! 
    p Check out the #[a(href="/users") rankings] or 
      | #[a(href="/sign_up") sign up] and start submitting scores.